<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mid-morning safari {% endblock %}</title>
</head>
<body>
<header>
    <h1>{% block header %}Welcome to SafariLab{% endblock %}</h1>
<nav>
    <ul>
        <li><a href="{% url 'my_home' %}">Home</a></li>
        <li><a href="{% url 'my_about' %}">About</a></li>
        <li><a href="{% url 'my_contact' %}">Contacts</a></li>
        <li><a href="{% url 'my_gallery' %}">Gallery</a></li>
    </ul>
</nav>
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>&copy;2024 SafariLab</p>
</footer>

</body>
</html>